/* *{
border: 1px solid red;
} */

body{
  background-color: aqua;
}

.text-center{
  text-align: center;
}

#root{
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}











.favList-container{
  background-color: rgb(233, 78, 78);

}

.header-container{
  background-color: rgb(122, 233, 78);
}

.searchbar-container{
  background-color: rgb(199, 221, 3);
}

.themeSwitch-container{
  background-color: rgb(4, 59, 59);
}